Repository intel/ai-containers: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, tox, ct

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: "weekly"
  skip: [pylint, shellcheck, markdownlint, hadolint-docker, helm-docs-container, shfmt, tox, mkdocs, ct]
repos:
- hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-merge-conflict
  - id: debug-statements
  - id: end-of-file-fixer
  - id: forbid-submodules
  - id: sort-simple-yaml
  - id: trailing-whitespace
  repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
- hooks:
  - id: gitleaks
  repo: https://github.com/gitleaks/gitleaks
  rev: v8.18.4
- hooks:
  - args: [--license-filepath=.github/license_template.txt, --use-current-year, --detect-license-in-X-top-lines=40, --skip-license-insertion-comment=Copyright]
    files: |
      (?x)^(
        .*(py|yaml|yml|sh|Dockerfile)|
      )$
    id: insert-license
  repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
- hooks:
  - args: ["--config", ".github/linters/.hadolint.yaml"]
    id: hadolint-docker
  repo: https://github.com/hadolint/hadolint
  rev: v2.13.0-beta
- hooks:
  - args: ["--config", ".github/linters/.markdown-lint.yaml"]
    id: markdownlint
  repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.41.0
- hooks:
  - id: shellcheck
  repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
- hooks:
  - args: ["--config-file", ".github/linters/actionlint.yml"]
    id: actionlint
  repo: https://github.com/rhysd/actionlint
  rev: v1.7.1
- hooks:
  - id: helm-docs-container
  repo: https://github.com/norwoodj/helm-docs
  rev: v1.13.1
- hooks:
  - id: shfmt
  repo: https://github.com/cisagov/pre-commit-shfmt
  rev: v0.0.2
- hooks:
  - id: black
  repo: https://github.com/ambv/black
  rev: 24.4.2
- hooks:
  - args: ["--sp", ".github/linters"]
    id: isort
  repo: https://github.com/pycqa/isort
  rev: 5.13.2
- hooks:
  - args: ["--rcfile=.github/linters/.python-lint"]
    entry: pylint
    id: pylint
    language: system
    name: pylint
    types: [python]
  - entry: bash -c "python -m tox -e py310,clean"
    files: ^test-runner/
    id: tox
    language: system
    name: tox
  - entry: bash -c "rm -rf site/ && mkdocs build --clean"
    # files: ^docs/
    id: mkdocs
    language: system
    name: mkdocs
  - entry: ct lint --config .github/ct.yaml
    files: ^workflows/charts/
    id: ct
    language: system
    name: ct
  repo: local

Update container-ci.yaml
  .github/workflows/container-ci.yaml
Due: none

Apply regreSSHion mitigation (#225)
  preset/deep-learning/Dockerfile
  pytorch/Dockerfile
  tensorflow/Dockerfile
Due: none

Fix PyTorch XPU Jupyter Documentation (#224)
  pytorch/README.md
Due: none

Deepspeed Support (#188)
  docs/scripts/matrix.py
  pytorch/Dockerfile
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/multinode/requirements.txt
  pytorch/tests/ipex-resnet50.py
  pytorch/tests/tests.yaml
Due: pylint

Adds Huggingface GenAI container build specs into pytorch/Dockerfile and pytorch/docker-compose.yaml (#146)
  pytorch/Dockerfile
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/hf-genai-requirements.txt
  pytorch/tests/tests.yaml
Due: none

add apptainer build functionality for python (#211)
  .github/dependabot.yml
  .github/workflows/apptainer-ci.yaml
  apptainer/README.md
  apptainer/action.yml
  apptainer/python/apptainer.def
  apptainer/python/requirements.txt
Due: none

Update IPEX MultiNode Docs (#228)
  pytorch/README.md
Due: none

resolve unpinned dependencies (#235)
  .github/workflows/apptainer-ci.yaml
Due: none

Update Site Headers to have an anchor link (#229)
  mkdocs.yml
  pytorch/README.md
Due: none

Fix SSH port by default in multinode container (#214)
  pytorch/Dockerfile
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/multinode/dockerd-entrypoint.sh
  pytorch/multinode/generate_ssh_keys.sh
  pytorch/multinode/requirements.txt
  pytorch/multinode/ssh_config
  pytorch/multinode/sshd_config
Due: none

Use intel-ubuntu-latest label (#204)
  .github/workflows/scorecard.yaml
Due: none

Update scorecard.yaml
  .github/workflows/scorecard.yaml
Due: none

Update the HF LLM workflow to remove SSH setup and entrypoint command
  workflows/charts/huggingface-llm/Dockerfile
  workflows/charts/huggingface-llm/templates/pytorchjob.yaml
Due: ct

remove duplicate channel
  preset/deep-learning/Dockerfile
Due: none

Fetch dataset-librarian with pip
  preset/classical-ml/Dockerfile
  preset/data-analytics/Dockerfile
  preset/deep-learning/Dockerfile
Due: none

Use software.repos.intel.com Conda Channel (#236)
  preset/classical-ml/Dockerfile
  preset/classical-ml/docker-compose.yaml
  preset/data-analytics/Dockerfile
  preset/data-analytics/docker-compose.yaml
  preset/deep-learning/Dockerfile
  preset/deep-learning/docker-compose.yaml
  preset/inference-optimization/docker-compose.yaml
  python/Dockerfile
  tensorflow/Dockerfile
Due: none

applied diff from most recent merge to fix conda containers
  preset/classical-ml/Dockerfile
  preset/classical-ml/docker-compose.yaml
  preset/data-analytics/Dockerfile
  preset/data-analytics/docker-compose.yaml
  preset/deep-learning/Dockerfile
  preset/deep-learning/docker-compose.yaml
  preset/inference-optimization/docker-compose.yaml
  tensorflow/Dockerfile
Due: none

testing after conda fix
  python/docker-compose.yaml
Due: none

Update README.md
  preset/README.md
Due: none

testing for container-ci trigger
  python/docker-compose.yaml
Due: none

changed docker to test behavior
  python/Dockerfile
Due: none

check if this is a syntax error instance
  preset/deep-learning/Dockerfile
Due: none

resolving path manually and also adding delete: true with header from previous
  .github/workflows/integration-test.yaml
Due: none

Fix merge-multiple overwritten instance by clearly uniquely identifying test.json files to be uploaded
  .github/workflows/integration-test.yaml
  classical-ml/Dockerfile
  preset/data-analytics/Dockerfile
  test-runner/test_runner.py
Due: pylint, tox

fixed typo
  test-runner/test_runner.py
Due: pylint, tox

fixed mismatch in json path written to and upload-artifact inconsitency
  test-runner/action.yml
  test-runner/test_runner.py
Due: pylint, tox

please don't work so late
  test-runner/test_runner.py
Due: pylint, tox

revised PR comments
  .github/workflows/container-ci.yaml
  .github/workflows/integration-test.yaml
  test-runner/action.yml
  test-runner/test_runner.py
Due: pylint, tox

removed -n from test-runner
  test-runner/action.yml
Due: tox

not sure why test-runner-summary pattern wasn't matched
  test-runner/action.yml
Due: tox

fixed
  test-runner/action.yml
  test-runner/test_runner.py
Due: pylint, tox

Completed validation, switched back to test-runner in main branch, please refer to previous commit's integration tests for full details
  .github/workflows/container-ci.yaml
  .github/workflows/integration-test.yaml
  test-runner/action.yml
Due: tox

Reverted dockerfile comments and additional test directory previously changed for testing purposes
  preset/data-analytics/Dockerfile
  python/Dockerfile
  python/docker-compose.yaml
  python/tests1/compare-perf.sh
  python/tests1/perf_sample.py
  python/tests1/tests.yaml
Due: pylint

also reverting tests.yaml file
  test-runner/tests.yaml
Due: tox

removed deprecated test_runner.py implementations
  test-runner/test_runner.py
Due: pylint, tox

added latest tag SHA for download-artifact and sticky-pull-request-comment
  .github/workflows/integration-test.yaml
Due: none

remove preset tests
  classical-ml/tests/sklearn.sh
  classical-ml/tests/tests.yaml
  classical-ml/tests/xgboost.sh
Due: none

Removed nltk and rogue_score
  pytorch/hf-genai-requirements.txt
  workflows/charts/huggingface-llm/requirements.txt
Due: ct
