Repository intel/ai-containers: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, tox, ct

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: "weekly"
  skip: [pylint, shellcheck, markdownlint, hadolint-docker, helm-docs-container, shfmt, tox, mkdocs, ct]
repos:
- hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-merge-conflict
  - id: debug-statements
  - id: end-of-file-fixer
  - id: forbid-submodules
  - id: sort-simple-yaml
  - id: trailing-whitespace
  repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
- hooks:
  - id: gitleaks
  repo: https://github.com/gitleaks/gitleaks
  rev: v8.18.4
- hooks:
  - args: [--license-filepath=.github/license_template.txt, --use-current-year, --detect-license-in-X-top-lines=40, --skip-license-insertion-comment=Copyright]
    files: |
      (?x)^(
        .*(py|yaml|yml|sh|Dockerfile)|
      )$
    id: insert-license
  repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
- hooks:
  - args: ["--config", ".github/linters/.hadolint.yaml"]
    id: hadolint-docker
  repo: https://github.com/hadolint/hadolint
  rev: v2.13.0-beta
- hooks:
  - args: ["--config", ".github/linters/.markdown-lint.yaml"]
    id: markdownlint
  repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.41.0
- hooks:
  - id: shellcheck
  repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
- hooks:
  - args: ["--config-file", ".github/linters/actionlint.yml"]
    id: actionlint
  repo: https://github.com/rhysd/actionlint
  rev: v1.7.1
- hooks:
  - id: helm-docs-container
  repo: https://github.com/norwoodj/helm-docs
  rev: v1.13.1
- hooks:
  - id: shfmt
  repo: https://github.com/cisagov/pre-commit-shfmt
  rev: v0.0.2
- hooks:
  - id: black
  repo: https://github.com/ambv/black
  rev: 24.4.2
- hooks:
  - args: ["--sp", ".github/linters"]
    id: isort
  repo: https://github.com/pycqa/isort
  rev: 5.13.2
- hooks:
  - args: ["--rcfile=.github/linters/.python-lint"]
    entry: pylint
    id: pylint
    language: system
    name: pylint
    types: [python]
  - entry: bash -c "python -m tox -e py310,clean"
    files: ^test-runner/
    id: tox
    language: system
    name: tox
  - entry: bash -c "rm -rf site/ && mkdocs build --clean"
    # files: ^docs/
    id: mkdocs
    language: system
    name: mkdocs
  - entry: ct lint --config .github/ct.yaml
    files: ^workflows/charts/
    id: ct
    language: system
    name: ct
  repo: local

modify python
  python/requirements.txt
Due: none

swap to using branch
  .github/workflows/integration-test.yaml
Due: none

undo changes
  python/requirements.txt
Due: none

Update integration-test.yaml
  .github/workflows/integration-test.yaml
Due: none

ghcr.io (#179)
  .github/workflows/container-ci.yaml
  .github/workflows/test-runner-ci.yaml
Due: none

switch to action
  .github/workflows/test-runner-ci.yaml
Due: none

fix commit hash
  .github/workflows/test-runner-ci.yaml
Due: none

Fix intel python full installation (#178)
  python/Dockerfile
Due: none

swap to cached python container
  test-runner/tests.yaml
  test-runner/tests/utest.py
Due: pylint, tox

optionally set proxies
  test-runner/tests.yaml
  test-runner/tests/utest.py
  test-runner/utils/test.py
Due: pylint, tox

print proxies
  .github/workflows/test-runner-ci.yaml
Due: none

try another optional proxy config
  .github/workflows/test-runner-ci.yaml
  test-runner/utils/test.py
Due: pylint, tox

update proxy strategy
  test-runner/utils/test.py
Due: pylint, tox

update tox
  .github/workflows/test-runner-ci.yaml
  tox.ini
Due: none

move back to action
  .github/workflows/test-runner-ci.yaml
  tox.ini
Due: none

remove parallel exec
  tox.ini
Due: none

add badge to readme
  README.md
  tox.ini
Due: none

Add Coveralls (#166)
  .github/workflows/test-runner-ci.yaml
  .gitignore
  README.md
  test-runner/dev-requirements.txt
  test-runner/utils/test.py
  tox.ini
Due: pylint, tox

Update README.md
  README.md
Due: none

remove perf test text
  test-runner/README.md
Due: tox

Update CODEOWNERS priority
  .github/CODEOWNERS
Due: none

test coveralls
  test-runner/test_runner.py
Due: pylint, tox

make a real change
  test-runner/test_runner.py
  test-runner/utils/test.py
Due: pylint, tox

Update test-runner-ci.yaml
  .github/workflows/test-runner-ci.yaml
Due: none

Added tests and updated README
  pytorch/README.md
  pytorch/docker-compose.yaml
  pytorch/tests/tests.yaml
Due: none

Changes to Dockerfile per Dina's review
  pytorch/Dockerfile
Due: none

remove queue
  .github/workflows/chart-ci.yaml
  .github/workflows/merge_check.yaml
  .github/workflows/test-runner-ci.yaml
Due: none

Updated test cmd and tests passed for stock and idp
  pytorch/tests/tests.yaml
Due: none

Add push event to test runner CI for unit tests base build (#184)
  .github/workflows/chart-ci.yaml
  .github/workflows/merge_check.yaml
  .github/workflows/test-runner-ci.yaml
Due: none

Update CODEOWNERS priority (#182)
  .github/CODEOWNERS
Due: none

Remove perf test text (#181)
  test-runner/README.md
Due: tox

remove redundant line
  CONTRIBUTING.md
Due: none

fix license link
  CONTRIBUTING.md
Due: none
