Repository intel/ai-containers: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, tox, ct

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: "weekly"
  skip: [pylint, shellcheck, markdownlint, hadolint-docker, helm-docs-container, shfmt, tox, mkdocs, ct]
repos:
- hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-merge-conflict
  - id: debug-statements
  - id: end-of-file-fixer
  - id: forbid-submodules
  - id: sort-simple-yaml
  - id: trailing-whitespace
  repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
- hooks:
  - id: gitleaks
  repo: https://github.com/gitleaks/gitleaks
  rev: v8.18.4
- hooks:
  - args: [--license-filepath=.github/license_template.txt, --use-current-year, --detect-license-in-X-top-lines=40, --skip-license-insertion-comment=Copyright]
    files: |
      (?x)^(
        .*(py|yaml|yml|sh|Dockerfile)|
      )$
    id: insert-license
  repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
- hooks:
  - args: ["--config", ".github/linters/.hadolint.yaml"]
    id: hadolint-docker
  repo: https://github.com/hadolint/hadolint
  rev: v2.13.0-beta
- hooks:
  - args: ["--config", ".github/linters/.markdown-lint.yaml"]
    id: markdownlint
  repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.41.0
- hooks:
  - id: shellcheck
  repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
- hooks:
  - args: ["--config-file", ".github/linters/actionlint.yml"]
    id: actionlint
  repo: https://github.com/rhysd/actionlint
  rev: v1.7.1
- hooks:
  - id: helm-docs-container
  repo: https://github.com/norwoodj/helm-docs
  rev: v1.13.1
- hooks:
  - id: shfmt
  repo: https://github.com/cisagov/pre-commit-shfmt
  rev: v0.0.2
- hooks:
  - id: black
  repo: https://github.com/ambv/black
  rev: 24.4.2
- hooks:
  - args: ["--sp", ".github/linters"]
    id: isort
  repo: https://github.com/pycqa/isort
  rev: 5.13.2
- hooks:
  - args: ["--rcfile=.github/linters/.python-lint"]
    entry: pylint
    id: pylint
    language: system
    name: pylint
    types: [python]
  - entry: bash -c "python -m tox -e py310,clean"
    files: ^test-runner/
    id: tox
    language: system
    name: tox
  - entry: bash -c "rm -rf site/ && mkdocs build --clean"
    # files: ^docs/
    id: mkdocs
    language: system
    name: mkdocs
  - entry: ct lint --config .github/ct.yaml
    files: ^workflows/charts/
    id: ct
    language: system
    name: ct
  repo: local

add args
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
Due: none

debug tgi
  workflows/charts/tgi/README.md
  workflows/charts/tgi/templates/deploy.yaml
  workflows/charts/tgi/templates/tests/test-connection.yaml
  workflows/charts/tgi/values.yaml
Due: ct

address PR review comments
  pytorch/Dockerfile
  pytorch/serving/torchserve-requirements.txt
  pytorch/serving/torchserve-xpu-requirements.txt
Due: none

update compose file labels
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
Due: none

finish validation
  workflows/charts/tgi/templates/deploy.yaml
  workflows/charts/tgi/templates/tests/test-connection.yaml
Due: ct

update README.md for XPU
  pytorch/Dockerfile
  pytorch/serving/README.md
Due: none

add ipex xpu squeezenet
  pytorch/serving/model-archive/ipex_squeezenet.py
Due: pylint

remove serve repo,replace w/ single file
  pytorch/Dockerfile
  pytorch/serving/config-xpu.properties
Due: none

resolve lint issues
  pytorch/Dockerfile
  pytorch/serving/README.md
Due: none

update docs
  workflows/charts/tgi/Chart.yaml
  workflows/charts/tgi/README.md
  workflows/charts/tgi/README.md.gotmpl
  workflows/charts/tgi/templates/deploy.yaml
Due: ct

update docker target
  pytorch/docker-compose.yaml
Due: none

de-brand
  workflows/charts/tgi/Chart.yaml
  workflows/charts/tgi/README.md
Due: ct

de-brand repo
  CONTRIBUTING.md
  README.md
  classical-ml/README.md
  mkdocs.yml
  python/README.md
  pytorch/README.md
  pytorch/serving/README.md
  tensorflow/README.md
  workflows/README.md
  workflows/charts/huggingface-llm/README.md
  workflows/charts/torchserve/Chart.yaml
  workflows/charts/torchserve/README.md
  workflows/charts/torchserve/README.md.gotmpl
Due: ct

update model name and labels
  pytorch/docker-compose.yaml
  pytorch/serving/README.md
Due: none

consolidate dockerfile builds
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
  pytorch/serving/README.md
Due: none

open up conda reqs
  pytorch/xpu-requirements.txt
Due: none

add secret support
  workflows/charts/tgi/README.md
  workflows/charts/tgi/templates/deploy.yaml
  workflows/charts/tgi/templates/secret.yaml
  workflows/charts/tgi/values.yaml
Due: ct

add secret support
  workflows/charts/tgi/README.md
  workflows/charts/tgi/templates/secret.yaml
  workflows/charts/tgi/values.yaml
Due: ct

fix secret reference
  workflows/charts/tgi/templates/secret.yaml
Due: ct

Add TGI on Intel Chart (#283)
  workflows/charts/tgi/.helmignore
  workflows/charts/tgi/Chart.yaml
  workflows/charts/tgi/README.md
  workflows/charts/tgi/README.md.gotmpl
  workflows/charts/tgi/templates/NOTES.txt
  workflows/charts/tgi/templates/_helpers.tpl
  workflows/charts/tgi/templates/deploy.yaml
  workflows/charts/tgi/templates/ingress.yaml
  workflows/charts/tgi/templates/secret.yaml
  workflows/charts/tgi/templates/service.yaml
  workflows/charts/tgi/templates/tests/test-connection.yaml
  workflows/charts/tgi/values.yaml
Due: ct

optimize build
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
Due: none

validate test_runner with xpu tests
  pytorch/docker-compose.yaml
  pytorch/serving/README.md
  pytorch/serving/model-archive/ipex_squeezenet.py
  pytorch/serving/model-archive/mar-test.sh
  pytorch/serving/tests.yaml
Due: pylint

fix shell lint issues
  pytorch/Dockerfile
  pytorch/serving/model-archive/mar-test.sh
Due: none

revert changes
  pytorch/Dockerfile
Due: none

fix dockerfile lint error
  pytorch/Dockerfile
Due: none

fix lint error
  pytorch/Dockerfile
Due: none

remove warning during lint
  pytorch/Dockerfile
Due: none

fix PR review comments
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
  pytorch/serving/README.md
  pytorch/serving/config-xpu.properties
  pytorch/serving/tests.yaml
Due: none

get docker compose up to build
  pytorch/docker-compose.yaml
Due: none

fix markdown linting
  pytorch/serving/README.md
Due: none

re-work PR changes instead of #328
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
  pytorch/serving/README.md
  pytorch/serving/config-xpu.properties
  pytorch/serving/model-archive/ipex_squeezenet.py
  pytorch/serving/tests.yaml
  pytorch/serving/torchserve-requirements.txt
  pytorch/serving/torchserve-xpu-requirements.txt
Due: pylint

IPEX XPU Torchserve support (#336)
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
  pytorch/serving/README.md
  pytorch/serving/config-xpu.properties
  pytorch/serving/model-archive/ipex_squeezenet.py
  pytorch/serving/tests.yaml
  pytorch/serving/torchserve-requirements.txt
  pytorch/serving/torchserve-xpu-requirements.txt
Due: pylint

Correct TM&B (#329)
  CONTRIBUTING.md
  README.md
  classical-ml/README.md
  mkdocs.yml
  python/README.md
  pytorch/README.md
  pytorch/serving/README.md
  tensorflow/README.md
  workflows/README.md
  workflows/charts/huggingface-llm/README.md
  workflows/charts/torchserve/Chart.yaml
  workflows/charts/torchserve/README.md
  workflows/charts/torchserve/README.md.gotmpl
Due: ct

Update xpu-requirements.txt
  tensorflow/xpu-requirements.txt
Due: none

add xpu support
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
  pytorch/serving/requirements.txt
  pytorch/serving/xpu-requirements.txt
  workflows/charts/torchserve/README.md
  workflows/charts/torchserve/templates/deploy.yaml
  workflows/charts/torchserve/values.yaml
Due: ct

Open Up XPU Conda Reqs (#330)
  pytorch/xpu-requirements.txt
  tensorflow/xpu-requirements.txt
Due: none
