Repository intel/ai-containers: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, tox, ct

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: "weekly"
  skip: [pylint, shellcheck, markdownlint, hadolint-docker, helm-docs-container, shfmt, tox, mkdocs, ct]
repos:
- hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-merge-conflict
  - id: debug-statements
  - id: end-of-file-fixer
  - id: forbid-submodules
  - id: sort-simple-yaml
  - id: trailing-whitespace
  repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
- hooks:
  - id: gitleaks
  repo: https://github.com/gitleaks/gitleaks
  rev: v8.18.4
- hooks:
  - args: [--license-filepath=.github/license_template.txt, --use-current-year, --detect-license-in-X-top-lines=40, --skip-license-insertion-comment=Copyright]
    files: |
      (?x)^(
        .*(py|yaml|yml|sh|Dockerfile)|
      )$
    id: insert-license
  repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
- hooks:
  - args: ["--config", ".github/linters/.hadolint.yaml"]
    id: hadolint-docker
  repo: https://github.com/hadolint/hadolint
  rev: v2.13.0-beta
- hooks:
  - args: ["--config", ".github/linters/.markdown-lint.yaml"]
    id: markdownlint
  repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.41.0
- hooks:
  - id: shellcheck
  repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
- hooks:
  - args: ["--config-file", ".github/linters/actionlint.yml"]
    id: actionlint
  repo: https://github.com/rhysd/actionlint
  rev: v1.7.1
- hooks:
  - id: helm-docs-container
  repo: https://github.com/norwoodj/helm-docs
  rev: v1.13.1
- hooks:
  - id: shfmt
  repo: https://github.com/cisagov/pre-commit-shfmt
  rev: v0.0.2
- hooks:
  - id: black
  repo: https://github.com/ambv/black
  rev: 24.4.2
- hooks:
  - args: ["--sp", ".github/linters"]
    id: isort
  repo: https://github.com/pycqa/isort
  rev: 5.13.2
- hooks:
  - args: ["--rcfile=.github/linters/.python-lint"]
    entry: pylint
    id: pylint
    language: system
    name: pylint
    types: [python]
  - entry: bash -c "python -m tox -e py310,clean"
    files: ^test-runner/
    id: tox
    language: system
    name: tox
  - entry: bash -c "rm -rf site/ && mkdocs build --clean"
    # files: ^docs/
    id: mkdocs
    language: system
    name: mkdocs
  - entry: ct lint --config .github/ct.yaml
    files: ^workflows/charts/
    id: ct
    language: system
    name: ct
  repo: local

try idp build error fix
  python/docker-compose.yaml
Due: none

remove w/a
  python/docker-compose.yaml
Due: none

debug and resolve 500 error
  pytorch/serving/tests.yaml
Due: none

add --force
  pytorch/serving/model-archive/mar-test.sh
Due: none

Fix XPU serving test (#435)
  pytorch/serving/model-archive/mar-test.sh
  pytorch/serving/tests.yaml
Due: none

Update pvc.yaml
  workflows/charts/tgi/templates/pvc.yaml
Due: ct

uncomment tf tests
  tensorflow/tests/tests.yaml
Due: none

Update integration-test.yaml
  .github/workflows/integration-test.yaml
Due: none

dep conflicts resolved...kinda
  enterprise/redhat/openshift-ai/gaudi/docker/requirements.txt
Due: none

space cleaning added to scan-container step
  .github/workflows/container-ci.yaml
Due: none

branch specified so actions can pick up
  .github/workflows/integration-test.yaml
Due: none

branch reverted back to main
  .github/workflows/integration-test.yaml
Due: none

Enable Existing PVC in TGI (#434)
  .pre-commit-config.yaml
  workflows/charts/tgi/Chart.yaml
  workflows/charts/tgi/README.md
  workflows/charts/tgi/templates/deploy.yaml
  workflows/charts/tgi/templates/pvc.yaml
  workflows/charts/tgi/values.yaml
Due: ct

Update Dockerfile
  python/Dockerfile
Due: none

Revert Block Policy in Coverage Upload Hardening (#433)
  .github/workflows/test-runner-ci.yaml
Due: none

enable clinfo inside idp
  pytorch/Dockerfile
Due: none

add emoji status
  .github/workflows/integration-test.yaml
Due: none

improve indentation
  .github/workflows/integration-test.yaml
Due: none

move export instruction
  pytorch/Dockerfile
Due: none

enable clinfo inside idp (#449)
  pytorch/Dockerfile
Due: none

add newlines to render table
  .github/workflows/integration-test.yaml
Due: none

make summary more clear
  .github/workflows/integration-test.yaml
Due: none

Uncomment TF Tests (#444)
  tensorflow/tests/tests.yaml
Due: none

start cleanup of xeon multinode containers
  docs/scripts/hook.py
  pytorch/docker-compose.yaml
  pytorch/tests/tests.yaml
  tensorflow/docker-compose.yaml
  tensorflow/tests/tests.yaml
  workflows/README.md
  workflows/charts/huggingface-llm/.actions.json
  workflows/charts/huggingface-llm/Chart.yaml
  workflows/charts/huggingface-llm/Dockerfile
  workflows/charts/huggingface-llm/docker-compose.yaml
  workflows/charts/huggingface-llm/requirements.txt
  workflows/charts/huggingface-llm/values.yaml
Due: pylint, ct

Update tests.yaml
  tensorflow/tests/tests.yaml
Due: none

add deprecation notices
  pytorch/README.md
  tensorflow/README.md
Due: none

remove multinode stuff
  .github/CODEOWNERS
  docs/scripts/hook.py
  pytorch/Dockerfile
  pytorch/docker-compose.yaml
  pytorch/hf-genai-requirements.txt
  pytorch/multinode/dockerd-entrypoint.sh
  pytorch/multinode/generate_ssh_keys.sh
  pytorch/multinode/requirements.txt
  pytorch/multinode/ssh_config
  pytorch/multinode/sshd_config
  tensorflow/Dockerfile
  tensorflow/docker-compose.yaml
  tensorflow/multinode/dockerd-entrypoint.sh
  tensorflow/multinode/generate_ssh_keys.sh
  tensorflow/multinode/requirements.txt
  tensorflow/multinode/ssh_config
  tensorflow/multinode/sshd_config
  workflows/charts/huggingface-llm/.helmignore
  workflows/charts/huggingface-llm/Chart.yaml
  workflows/charts/huggingface-llm/README.md
  workflows/charts/huggingface-llm/README.md.gotmpl
  workflows/charts/huggingface-llm/ci/distilgpt2-values.yaml
  workflows/charts/huggingface-llm/ci/tests.yaml
  workflows/charts/huggingface-llm/financial_chatbot_values.yaml
  workflows/charts/huggingface-llm/generate_ssh_keys.sh
  workflows/charts/huggingface-llm/medical_meadow_values.yaml
  workflows/charts/huggingface-llm/scripts/download_financial_dataset.sh
  workflows/charts/huggingface-llm/scripts/finetune.py
  workflows/charts/huggingface-llm/scripts/inc_utils.py
  workflows/charts/huggingface-llm/templates/dataaccess.yaml
  workflows/charts/huggingface-llm/templates/pvc.yaml
  workflows/charts/huggingface-llm/templates/pytorchjob.yaml
  workflows/charts/huggingface-llm/templates/secret.yaml
  workflows/charts/huggingface-llm/templates/tests/check-eval-results.yaml
  workflows/charts/huggingface-llm/values.yaml
Due: pylint, ct

Update tests.yaml
  pytorch/tests/tests.yaml
Due: none

identify test group instead of logs path
  test-runner/test_runner.py
Due: pylint, tox

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update Preset Codeowners (#450)
  .github/CODEOWNERS
Due: none

Improve Merge Logs PR Comment (#448)
  .github/workflows/integration-test.yaml
  test-runner/test_runner.py
Due: pylint, tox

comment PASS test.
  preset/deep-learning/tests.yaml
  preset/inference-optimization/tests.yaml
Due: none

init debugger
  test-runner/dev-requirements.txt
  test-runner/requirements.txt
  test-runner/test_runner.py
  test-runner/utils/debug.py
  test-runner/utils/test.py
Due: pylint, tox

simplify pathing in merge logs
  .github/workflows/integration-test.yaml
  .gitignore
  test-runner/test_runner.py
Due: pylint, tox

update action print path
  test-runner/action.yml
Due: tox
